window#waybar {
  background: rgba(30, 30, 46, 0.3);
}

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  color: #cdd6f4;
}

#clock, #pulseaudio, #battery, #network, #tray {
  padding: 0 20px;
}

